* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
:root{
    --primary-red:hsl(0, 100%, 74%);
    --primary-green:hsl(154, 59%, 51%);
    --primary-dark-green:hsl(154, 57%, 40%);
    --accent-blue:hsl(248, 32%, 49%);
    --neutral-dark-blue:hsl(250, 16%, 37%);
    --neutral-grayish-blue:hsl(246, 35%, 74%);
    --primary-white:white;
    --font-family:'Poppins', sans-serif;
    --border-radius: 6px;
    --border-width: 0.5px;
}
body{
    font-size: 1 rem;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--primary-red);
    font-family: var(--font-family);
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    margin: 80px 30px 10px 30px;
    line-height: 1.6;
    text-align: center;
}
.headerCentered{
    color: var(--primary-white);
    font-family: var(--font-family);
    margin-bottom: 50px;
    font-size: 0.95rem;
}
.tryItBttnStyle{
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 20px;
    color: var(--primary-white);
    font-size: 0.95rem;
}
.tryItButton {
    background-color: var(--accent-blue);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 1px hsl(248, 33%, 40%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.tryItButton:hover {
    background-color: hsl(248, 53%, 62%);
    box-shadow: 0px 10px 15px hsl(248, 33%, 40%);
    transform: translateY(-6px);
}
input{
    margin: 10px 0px;
}
input::placeholder {
    color: rgb(104, 103, 103);
    font-family: var(--font-family);
    font-weight: 600;
}
.inputStyle{
    width: 100%;
    height: 60px;
    padding: 20px;
    font-size: 16px;
}
.inputBorder{
  border-style: solid;
  border-radius: var(--border-radius);
  border-width: var(--border-width);
}
main{
    width: 85%;
    margin-bottom: 20px;
}
.surveyForm{  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    color: rgb(238, 53, 20);
}
.surveyForm p {
    align-self: flex-end;
    color: rgb(238, 53, 20);
    font-size: 0.80rem;
    padding-bottom: 10px;
}
.formBgBorder{
    background-color:var(--primary-white);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--accent-blue);
    padding: 20px 30px;
}
.submit{
    width: 100%;
    margin: 5px 0px;
    padding: 15px 25px;
    text-align: center;
    color: var(--primary-white);
}
.submitBox{
    background-color: var(--primary-green);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 0px 5px 1px var(--primary-dark-green);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.submitBox:hover {
    background-color: #2EE59D;
    box-shadow: 0px 10px 15px var(--primary-dark-green);
    transform: translateY(-6px);
}
.terms{
    color: var(--primary-red);
}
.font{
    font-weight: 700;
}
small{
    color: var(--neutral-grayish-blue);
    text-align: center;
    margin: 10px 0px;
}
.submit, small{
    font-size: 0.95rem;
}
.attribution{
    color: rgb(12, 49, 68)
}
.myWork{
    width: 30px;
    height: auto;
}
.attribution{
    font-size: 0.80rem;
    color: var(--primary-white);
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 600px){
    .container{
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding: 95px 0px;
    }
    input{
        margin: 0px 0px 10px 0px;
    }
    main{
        width:100%;
        margin:0px;
    }
    header {
        text-align: left;
        margin: 0px 30px 0px 0px;
    }
}