* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
:root{
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --accent-blue:hsl(248, 32%, 49%);
    --neutral-dark-blue:hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);
    --primary-white: white;
    --font-family:'Poppins', sans-serif;
    --border-radius: 5px;
    --border-width: 2px;
}
body{
    line-height: 1.3;
    font-size: 1 rem;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--primary-red);
    font-family: var(--font-family);
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    margin: 30px;
    line-height: 1.6;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.container{
    color: var(--primary-white);
    font-family: var(--font-family);
}
button {
    color: var(--primary-white);
    background-color: var(--accent-blue);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--accent-blue);
    padding: 20px 30px 20px 30px;
    text-align: justify;
}
.surveyForm{  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.surveyFormStyle{
    background-color:var(--primary-white);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--accent-blue);
    padding: 20px 30px 20px 30px;
}
.surveyForm button{
    color: var(--primary-white);
    background-color: var(--primary-green);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color:var(--primary-green);
}
.terms{
    color: var(--primary-red);
}
